nav.navbar.shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/* .navbar-burger {
    background: transparent;
    border: none;
} */

.hero.is-deployo, nav.navbar, .navbar-menu.is-active {
    background-image: linear-gradient( to right, #3273dc, #209cee);
    /* Fallback (could use .jpg/.png alternatively) */
    background-color: #3273dc;
    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image: -webkit-gradient(linear, left top, right top, from(#3273dc), to(#209cee));
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(left, #3273dc, #209cee);
    /* Firefox 3.6 - 15 */
    background-image: -moz-linear-gradient(left, #3273dc, #209cee);
    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(left, #3273dc, #209cee);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(to right, #3273dc, #209cee);
}

.hero.is-deployo .hero-foot img {
    margin-bottom: -100px;
}

.padding-top-100 {
    padding-top: 100px;
}

.hero.is-deployo h2 {
    min-height: 60px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.menu ul {
    margin-left: 0;
}

.menu li {
    list-style: none;
}

.icon {
    margin-bottom: 16px;
}

.deployo-min-height {
    min-height: 640px;
}
