nav.navbar.shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbar-burger {
    background: transparent;
    border: none;
}

.hero, nav.navbar {
    background-image: linear-gradient( to right, #3273dc, #209cee);
    /* Fallback (could use .jpg/.png alternatively) */
    background-color: #3273dc;
    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image: -webkit-gradient(linear, left top, right top, from(#3273dc), to(#209cee));
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(left, #3273dc, #209cee);
    /* Firefox 3.6 - 15 */
    background-image: -moz-linear-gradient(left, #3273dc, #209cee);
    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(left, #3273dc, #209cee);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(to right, #3273dc, #209cee);
}

.hero input {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.hero ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.hero :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.hero ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.menu ul {
    margin-left: 0;
}

.menu li {
    list-style: none;
}

#callToAction {
    width: 100%;
}