nav.navbar.shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/* .navbar-burger {
    background: transparent;
    border: none;
} */

.hero.is-deployo, nav.navbar {    
    background:linear-gradient(135deg, #1bcedf 0%,#5b247a 100%);
}

.hero.is-deployo .navbar-burger, .hero.is-deployo .navbar-menu.is-active {    
    background-color: transparent;
}

.hero.is-deployo .hero-foot img {
    margin-bottom: -100px;
}

.padding-top-100 {
    padding-top: 100px;
}

.hero.is-deployo h2 {
    min-height: 60px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.menu ul {
    margin-left: 0;
}

.menu li {
    list-style: none;
}

.icon {
    margin-bottom: 16px;
}

.deployo-min-height {
    min-height: 820px;
}

.has-shadow-close {
    box-shadow: 15px 15px 20px 0px rgba(0, 0, 0, 0.2);
}

.has-shadow-far.has-shadow-inverse {
    box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.2);
}

.has-shadow-far {
    box-shadow: -25px 25px 40px 0px rgba(0, 0, 0, 0.2);
}