{{ define "title" }}{{ .Site.Title }} – {{ .Title }} {{ end }}{{ define "main" }}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <article>
                    <h1 class="title is-1">{{.Title}}</h1>
                    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
                    <p>{{.Content}}</p>
                </article>
            </div>
        </div>
        <div class="columns">
            <!-- Ranges through content/post/*.md -->
            {{ range .Data.Pages }}
            <div class="column box">
                <h2 class="title is-4">
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </h2>
                <p class="subtitle is-6">{{.Date.Format "02.01.2006"}}</p>
            </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}