<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="/css/bulma.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  {{partial "navbar" .}} {{ block "main" . }}{{ end }} {{ block "footer" . }}{{ end }}
  <script>
    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    var cookieValue = getCookie("session");
    if (cookieValue != "") {
      document.getElementById("to-app-link").style.display = "block";
      document.getElementById("login-link").style.display = "none";
      document.getElementById("signup-link").style.display = "none";
    } else {
      document.getElementById("to-app-link").style.display = "none";
      document.getElementById("login-link").style.display = "block";
      document.getElementById("signup-link").style.display = "block";
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {

      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }
    });
  </script>
</body>

</html>