<div style="max-width: 640px;">
    <h3 class="title is-3">Send us a message!</h3>
    <form method="POST" action="https://formspree.io/contact@deployo.me">
        <div class="field">
            <div class="control">
                <input name="email" class="input is-medium is-link" placeholder="Your email" type="email">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea rows="5" name="message" class="textarea is-medium is-link" placeholder="Your message"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link is-medium">Send</button>
            </div>
        </div>
    </form>
</div>