<section class="hero is-link is-deployo">
    <div class="container">
        <section class="section">
            <div class="level">
                <div class="level-left">
                    <a href='{{ref . "/policies/terms_and_conditions.md"}}'>Terms and Conditions</a>&nbsp;|&nbsp;
                    <a href='{{ref . "/policies/privacy.md"}}'>Privacy Policy</a>&nbsp;|&nbsp;
                    <a href='{{ref . "/policies/cookie.md"}}'>Cookie Policy</a>
                </div>
            </div>
            <div class="level">
                <div class="level-left">
                    2019 © deployo.me
                </div>
                <div class="level-right">
                    made with &nbsp;
                    <i class="fas fa-hand-paper has-text-warning"></i>&nbsp;
                    <i class="fas fa-hand-paper has-text-warning"></i>&nbsp;&nbsp;by&nbsp;
                    <a href="https://twitter.com/miloskrca">
                        @miloskrca
                    </a>
                </div>
            </div>
        </section>
    </div>
</section>