<div class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container has-text-left">
            <h1 class="title is-1 is-size-3-mobile is-spaced has-text-weight-normal">
                {{.Params.hero.title}} {{if .Params.hero.typewriter}}
                <span class="has-text-weight-semibold is-size-3-mobile" id="typewriter"></span>
                {{end}}
            </h1>
            <h2 class="subtitle is-4">
                {{.Params.hero.subtitle}}
            </h2>
        </div>
    </div>
</div>