<div class="hero is-deployo is-info">
    <div class="hero-head">
        {{partial "navbar" .}}
    </div>
    <div class="hero-body has-text-centered">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1 is-size-3-mobile is-spaced has-text-weight-normal">
                    {{.Params.hero.title}}
                </h1>
                <h2 class="subtitle is-4">
                    {{.Params.hero.subtitle}} {{if .Params.hero.typewriter}}
                    <span class="has-text-weight-semibold is-size-4-mobile" id="typewriter"></span>
                    {{end}}
                </h2>
                <p class="has-text-centered">
                    <a data-scroll href="#signup" class="button is-primary is-large is-hidden-mobile">{{.Params.hero.call_to_action}}</a>
                    <a data-scroll href="#signup" class="button is-primary is-medium is-hidden-tablet">{{.Params.hero.call_to_action}}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="columns is-centered is-mobile">
            <div class="column is-11-mobile is-9-tablet is-7-desktop">
                <img src="{{.Params.screenshot}}" />
            </div>
        </div>
    </div>
</div>