<article class="tile is-child box has-text-centered notification is-{{.style}} has-shadow-close">
    <div class="margin-bottom-20">
        <h4 class="title is-3">
            {{.title}}
        </h4>
    </div>
    <div class="margin-bottom-20" style="padding-top: 0px;">
        <ul class="margin-bottom-20">
            {{range .features}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{if .price}}
        <p>
            <span class="title is-3">{{.price}}</span><span>/mo</span>
        </p>
        {{end}}
    </div>
</article>