<article class="box has-text-centered notification is-{{.style}} has-shadow-close">
    <div class="margin-bottom-20">
        <h4 class="title is-3">
            {{.title}}
        </h4>
    </div>
    <div class="margin-bottom-20" style="padding-top: 0px;">
        <ul class="margin-bottom-20">
            {{range .features}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{if .price}}
        <p>
            {{if not (eq .price "Contact me")}}<span class="title is-4">{{.price}}</span><span>/mo</span>{{else}}<a class="title is-4" href="mailto:support@deployo.me">{{.price}}</a>{{end}}
        </p>
        {{end}}
    </div>
</article>