<article class="tile is-child box has-text-centered notification is-{{.style}}">
    <div class="margin-bottom-20">
        <h4 class="title is-4">
            {{.title}}
        </h4>
    </div>
    <div class="margin-bottom-20" style="padding-top: 0px;">
        <ul class="margin-bottom-20">
            {{range .features}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{if .price}}
        <p>
            <span class="tag is-light is-large">{{.price}}</span>
        </p>
        {{end}}
    </div>
    <div>
        <a href="#signup" class='button is-medium is-primary'>{{.call_to_action}}</a>
    </div>
    <span>{{.note}}</span>
</article>