<html>

<head>
    <title>Deployo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/css/uikit.min.css" />
</head>

<body>
    <nav class="uk-navbar uk-navbar-container uk-navbar-transparent">
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">Deployo</a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#features">Features</a>
                </li>
                <li>
                    <a href="#pricing">Pricing</a>
                </li>
                <li class="uk-navbar-item">
                    <div>
                        <a href="http://deployo.herokuapp.com/login">Sign In</a>
                    </div>
                </li>
                <li class="uk-navbar-item">
                    <div>
                        <a class="uk-button uk-button-default uk-button-small" href="http://deployo.herokuapp.com/signup">Sign Up</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="uk-container">
        <div class="uk-margin-large-top">
            <div class="uk-text-center">
                <h1>Deploy</h1>
                <h2>Easily. Anytime. From anywhere.</h2>
            </div>
            <div class="uk-text-center">
                <a href="http://deployo.herokuapp.com/signup" class="uk-button uk-button-primary uk-button-large">Create Account Now</a>
            </div>
        </div>
        <div class="uk-margin-large-top">
            <h2 id="features">Features</h2>
            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <div class="uk-tile uk-tile-muted">
                        <h3>Deploy</h3>
                        <p>Which is just awesome.</p>
                    </div>
                </div>
                <div class="uk-width-1-2"></div>
                <div class="uk-width-1-2"></div>
                <div class="uk-width-1-2">
                    <div class="uk-tile uk-tile-primary">
                        <h3>See history</h3>
                        <p>Which is just awesome.</p>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <div class="uk-tile uk-tile-muted">
                        <h3>Configure easily with YAML</h3>
                        <p>Which is just awesome.</p>
                    </div>
                </div>
                <div class="uk-width-1-2"></div>
                <div class="uk-width-1-2"></div>
                <div class="uk-width-1-2">
                    <div class="uk-tile uk-tile-primary">
                        <h3>Access from anywhere</h3>
                        <p>Which is just awesome.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin-large-top">
            <h2 id="pricing">Pricing</h2>
            <div class="uk-flex uk-flex-center">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">Free</h3>
                        </div>
                        <div class="uk-card-body">
                            Details
                        </div>
                        <div class="uk-card-footer">
                            <a href="http://deployo/herokuapp.com/signup?plan=free" class="uk-button uk-button-secondary">Select free plan</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-margin-left">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">Tier 1</h3>
                        </div>
                        <div class="uk-card-body">
                            Details
                        </div>
                        <div class="uk-card-footer">
                            <a href="http://deployo/herokuapp.com/signup?plan=tier1" class="uk-button uk-button-primary">Select plan</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-margin-left">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">Tier 2</h3>
                        </div>
                        <div class="uk-card-body">
                            Details
                        </div>
                        <div class="uk-card-footer">
                            <a href="http://deployo/herokuapp.com/signup?plan=tier2" class="uk-button uk-button-primary">Select plan</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-margin-left">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">Tier 3</h3>
                        </div>
                        <div class="uk-card-body">
                            Details
                        </div>
                        <div class="uk-card-footer">
                            <a href="http://deployo/herokuapp.com/signup?plan=tier3" class="uk-button uk-button-primary">Select plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-tile uk-tile-primary uk-margin-large-top">
        <div class="uk-margin-large-top">footer</div>
    </div>
</body>

</html>